# dependencies
node_modules
package-lock.json
pnpm-lock.yaml
.pnpm-store

# build output
/**/lib

# testing
.nyc_output

# pnpm
.pnpm-debug.log
pnpm-debug.log

# Mac specfic
.DS_Store

# rush-specific
/common/temp
/**/.rush
*.build.log
*.build.error.log

.env
