parameters:
  - name: shouldPublish
    displayName: Publish packages
    type: boolean
    default: false

resources:
  repositories:
    - repository: build-pipeline-scripts
      type: git
      ref: master
      name: iModelTechnologies/imodeljs-build-pipeline-scripts

trigger: none
pr: none

stages:
- stage: Build
  displayName: Build
  jobs:
    - job: BuildPackages
      strategy:
        matrix:
          linux:
            imageName: 'ubuntu-latest'
          mac:
            imageName: 'macos-latest'
          windows:
            imageName: 'windows-latest'
      pool:
        vmImage: $(imageName)
      steps:
      - checkout: self
        persistCredentials: true

      - task: NodeTool@0
        displayName: Use Node 18
        inputs:
          versionSpec: 18.x

      - script: |
          git config user.email imodeljs-admin@users.noreply.github.com
          git config user.name imodeljs-admin
        displayName: git config

      - script: node common/scripts/install-run-rush.js install
        displayName: Rush Install

      - script: node common/scripts/install-run-rush.js change -v

      - script: node common/scripts/install-run-rush.js build -v -p max
        displayName: Rush Build

      - script: node common/scripts/install-run-rush.js lint
        displayName: Rush Lint

      # Necessary for running linux tests in a dbus session
      #   See packages/electron/README.md for more details
      - script: |
          sudo apt-get install -y libsecret-1-dev
          sudo apt-get install -y dbus-x11
          sudo apt-get install -y gnome-keyring
        displayName: Install Packages - Linux
        condition: and(succeeded(), eq(variables['Agent.OS'], 'Linux'))

      # By default linux agents do not have a real display so use the virtual framebuffer
      # Tests are run in a dbus session after creating a keyring password for compatibility with Keytar
      #   See packages/electron/README.md for more details
      - script: >-
          dbus-run-session -- sh -c
          "echo 'keyringPassword' | gnome-keyring-daemon -r -d --unlock ;
           xvfb-run --auto-servernum --server-args='-screen 0, 1600x900x24' node common/scripts/install-run-rush.js cover --verbose"
        displayName: Rush Cover - Linux
        condition: and(succeeded(), eq(variables['Agent.OS'], 'Linux'))

      # MacOS and Windows agents work without any virtual display
      - script: node common/scripts/install-run-rush.js cover --verbose
        displayName: Rush Cover - Windows/Mac
        condition: and(succeeded(), ne(variables['Agent.OS'], 'Linux'))

      - template: templates/publish-test-results.yaml

      # Publish packages
      - template: templates/publish-packages.yaml
        parameters:
          shouldPublish: ${{ parameters.shouldPublish }}

      # Publish packages
      - ${{ if eq(parameters.shouldPublish, true) }}:
        - template: templates/build-docs.yaml
          parameters:
            shouldPublish: true

