parameters:
  - name: shouldPublish # name of the parameter; required
    type: boolean # data type of the parameter; required

steps:
  - script: node common/scripts/install-run-rush.js publish --publish -a -b main --set-access-level public
    displayName: rush publish package
    condition: and(succeeded(), eq(variables['Agent.OS'], 'Windows_NT'), ${{ parameters.shouldPublish }} )
    env:
      NPM_AUTH_TOKEN: $(npmToken)
