name: Auth Clients CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  Auth-Clients-CI:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout branch
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Configure git
        run: |
          git config --local user.email imodeljs-admin@users.noreply.github.com
          git config --local user.name imodeljs-admin

      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: '18'

      - name: Rush Install
        run: node common/scripts/install-run-rush.js install

      - name: Rush Change
        run: node common/scripts/install-run-rush.js change -v

      - name: Rush Build
        run: node common/scripts/install-run-rush.js build -v

      - name: Rush Lint
        run: node common/scripts/install-run-rush.js lint

      # Necessary for running linux tests in a dbus session
      #   See packages/electron/README.md for more details
      - name: Install Packages - Linux
        run: |
          sudo apt-get install -y libsecret-1-dev
          sudo apt-get install -y dbus-x11
          sudo apt-get install -y gnome-keyring
        if: runner.os == 'Linux'

      # Tests are run in a dbus session after creating a keyring password for compatibility with Keytar
      #   See packages/electron/README.md for more details
      - name: Rush Cover - Linux
        run: >-
          dbus-run-session -- sh -c
          "echo 'keyringPassword' | gnome-keyring-daemon -r -d --unlock ;
           xvfb-run --auto-servernum --server-args='-screen 0, 1600x900x24' node common/scripts/install-run-rush.js cover --verbose"
        if: runner.os == 'Linux'

      - name: Rush Cover - Windows/Mac
        run: node common/scripts/install-run-rush.js cover --verbose
        if: runner.os == 'Windows' || runner.os == 'macOS'

